<nav id="topNav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" style="vertical-align: top;" href="#first">
    <span style="color:dodgerblue;">ACME Surgical Specialists:&nbsp;</span>
    <span style="color:darkslategray;">Daily Teammate Schedule</span>
  </a>
  <div class="collapse navbar-collapse" id="collapsingNavbar">
    <ul class="nav navbar-nav ml-auto pull-right">
      <li class="nav-item">
        <a class="nav-link page-scroll" title="Help!" href=""><!-- <i class="fas fa-question-circle"></i> -->
          Help
        </a>
      </li>
    </ul>
  </div>
</nav>